@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Padronização de elementos*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #17120F;
    color: #F5F5F5;
}
h1 {
    color: #D97732;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;}
h2 {
    color: #D97732;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px;
}
/*Arrumando o header e nav*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #241C17;
}
.logo {
    width: 40px;
}

nav {
    display: flex;
    gap: 20px;
}


nav a {
    color: #F5F5F5;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;

}
nav a:hover {
    background-color: #D97732;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 30px;
}
main > h1 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 20px;
}

main > h2 {
    text-align: center;
}

main > p {
    max-width: 800px;
    margin: 0 auto 40px;
    text-align: center;
}

section {
    margin-bottom: 60px;
}

section h2 {
    text-align: center;
}

/*Footer*/
footer {
    background-color: #241C17;
    color: white;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}
footer h3 {
    color: #D97732;
    margin-bottom: 10px;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
    

}

footer p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
}

/*Página violão*/
.o-violao{
    text-align: center;
}
.violao {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.partes-violao {
    display: flex;
    justify-content: space-between;
}
.parte img{
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.parte {
    text-align: center;
}
.corda {
    text-align: center;
}
.afinacao{
    text-align: center;
    font-weight: 600;
}
.imagem-cordas {
    text-align: center;
}
.cordas{
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/*Página acordes*/
.introducao-acordes {
    text-align: center;
}
introducao-acordes p {
    max-width: 800px;
    margin: 0 auto 15px;
}

.acordes h2 {
    text-align: center;
}
.acordes + section p {
    max-width: 800px;
    margin: 0 auto 15px;
    text-align: center;
}

.lista-acordes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.acorde {
    width: 200px;
    text-align: center;
    flex-shrink: 0;
}

.acorde img {
    width: 140px;
    height: 140px;
    object-fit: contain;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
}
.acorde p {
    font-size: 14px;
}
.link-acordes {
    text-align: center;
    margin-top: 30px;
}

.link-acordes a {
    color: #8B5E3C;
    text-decoration: none;
}

.link-acordes a:hover {
    color: #D6A15D;
}

/*Página Inicio*/
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.card {
    width: 300px;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    color: #2B2118;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/*Página música*/
.introducao-musica {
    text-align: center;
}

main section h3 {
    color: #D97732;
}

main section a {
    color: #D97732;
    text-decoration: none;
}

main section a:hover {
    color: #E89A5B;
}
main ul, 
main ol {
    max-width: 700px;
    margin: 0 auto 20px;
    line-height: 2;
}

main li {
    padding-left: 5px;
}
main p{
    text-align: center;
}
.primeira-musica{
    text-align: center;
}
.acordes-musica {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.acorde-musica {
    text-align: center;
}

.acorde-musica img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.site-cifra {
    text-align: center;
}




